{{ $cfp_dates := .cfp.dates }}
<div class="ui steps">
    <div class="active step">
        <i class="inbox icon"></i>
        <div class="content">
        <div class="title">{{ i18n "cfp_opens" }}</div>
        <div class="description">{{ (index $cfp_dates.open_date .lang) }}</div>
        </div>
    </div>
    <div class="active step">
        <i class="spinner icon"></i>
        <div class="content">
        <div class="title">{{ i18n "cfp_closes" }}</div>
        <div class="description">{{ (index $cfp_dates.close_date .lang) }}</div>
        </div>
    </div>
    <div class="active step">
        <i class="mail icon"></i>
        <div class="content">
        <div class="title">{{ i18n "cfp_notifications" }}</div>
        <div class="description">{{ (index $cfp_dates.notification_date .lang) }}</div>
        </div>
    </div>
    <div class="active step">
        <i class="checked calendar icon"></i>
        <div class="content">
        <div class="title">Snowcamp</div>
        <div class="description">{{ (index .edition.dates .lang) }} {{ .edition.year }}</div>
        </div>
    </div>
</div>
