<footer>
  <div id="snc-footer" class="snc-footer">
    <div class="snc-footer-bg">
      <div class="snc-inner">
        <div class="container">
          <div class="row">
            <div class="footer-social">
              <ul class="list-inline">
                <li><a class="sp-tw" href="https://twitter.com/SnowCampIO"><i class="fa fa-twitter"></i></a></li>
                <li><a class="sp-in" href="mailto:team@snowcamp.io"><i class="fa fa-envelope"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="{{.Site.BaseURL}}libs/jquery/dist/jquery.js"></script>
<script src="{{.Site.BaseURL}}libs/jquery-countdown/dist/jquery.countdown.js"></script>
<script src="{{.Site.BaseURL}}libs/jquery-easing/js/jquery.easing.js"></script>
<!--<script src="{{.Site.BaseURL}}libs/semantic/dist/semantic.js"></script>-->
<script src="{{.Site.BaseURL}}libs/bootstrap/dist/js/bootstrap.js"></script>
<script src="{{.Site.BaseURL}}js/homepage.js"></script>
<script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
