<header>
  <div id="snc-header" class="snc-header menu">
    <div class="snc-header-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">

            <nav class="navbar navbar-default snc-navbar">
              <div class="container-fluid">

                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                          aria-expanded="false" aria-controls="navbar"
                          data-target="#menu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <div class="navbar-brand snc-logo">
                    <a href="{{.Site.BaseURL}}{{ .Lang }}" class="snc-scroll">
                      <img src="{{.Site.BaseURL}}/img/alpes-snow-full-illustration.png"
                           alt="Logo">
                    </a>
                  </div>
                </div>

                <div class="collapse navbar-collapse" id="menu">
                  <ul class="nav navbar-nav snc-nav">
                    <li class="dropdown">
                      <a href="#" class="snc-scroll dropdown-toggle" data-toggle="dropdown" role="button"
                         aria-haspopup="true"
                         aria-expanded="false">Snowcamp <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a class="page-scroll" href="{{.Site.BaseURL}}{{ .Lang }}/snowcamp/#what">
                          {{ i18n "what_is_this" }}</a></li>
                        <li><a class="page-scroll" href="{{.Site.BaseURL}}{{ .Lang }}/organisation/">Organisation</a></li>
                        <li><a class="page-scroll" href="{{.Site.BaseURL}}{{ .Lang }}/previous-editions">{{ i18n "past_editions" }}</a></li>
                      </ul>
                    </li>
                    <!-- <li class="dropdown">
                      <a href="#" class="snc-scroll dropdown-toggle" data-toggle="dropdown" role="button"
                         aria-haspopup="true"
                         aria-expanded="false"> {{ i18n "program_translation"  }} <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a class="page-scroll" href="{{.Site.BaseURL}}{{ .Lang }}/#cfp">CFP</a></li>
                        <li><a class="page-scroll" href="{{.Site.BaseURL}}{{ .Lang }}/#programme">
                          {{ i18n "program_translation" }}</a></li>
                      </ul>
                    </li> -->
                    <li><a class="page-scroll" href="{{.Site.BaseURL}}{{ .Lang }}/#cfp">Program</a></li>
                    <li class="dropdown">
                      <a href="#snc-sponsors" class="snc-scroll dropdown-toggle" data-toggle="dropdown"
                         role="button" aria-haspopup="true"
                         aria-expanded="false">Sponsors <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a class="page-scroll" href="{{.Site.BaseURL}}{{ .Lang }}/#sponsors">{{ i18n "our_sponsors" }}</a></li>
                        <li><a href="{{.Site.BaseURL}}{{ .Lang }}/sponsors"> {{ i18n "become_sponsor" }} </a></li>
                      </ul>
                    </li>
                    <li><a class="page-scroll" href="{{.Site.BaseURL}}{{ .Lang }}/#venue"> {{ i18n "venue" }} </a></li>
                    <li><a href="{{.Site.BaseURL}}{{ .Lang }}/tickets">Tickets</a></li>
                    {{ if eq .Lang "fr" }}
                        <li>
                          <a href="{{.Site.BaseURL}}en/">
                            <img class="snc-flag" src="{{.Site.BaseURL}}/img/gb.svg" alt="Switch to English">
                          </a>
                        </li>
                    {{else}}
                        <li>
                          <a href="{{.Site.BaseURL}}fr/">
                            <img class="snc-flag" src="{{.Site.BaseURL}}/img/fr.svg" alt="Switch to French">
                          </a>
                        </li>
                    {{ end }}
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
