<section>
  <div class="snc-banner">
    <div class="snc-banner-style">
      <div class="snc-inner">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="banner-info">
                <div class="snc-countdown-area">
                  <div id="snc-countdown" data-date="2019/1/23">
                    <span class="snc-days">100 <i> Days </i></span>
                    <span class="snc-hr">14 <i> Hours </i></span>
                    <span class="snc-min">15 <i> Minutes </i></span>
                    <span class="snc-sec">29<i> Seconds </i></span>
                  </div>
                </div>
                <h2 class="title">Snowcamp <span>2019</span></h2>
                <h3 class="date"><span>23rd-26th of January </span>2019, Grenoble</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div id="snc-snowcamp" class="snc-snowcamp">
    <div class="snc-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="snc-heading-area">
              <h2 class="snc-heading">
                <span class="back-heading">
                    <i class="fa fa-snowflake-o" aria-hidden="true"></i>
                </span>
                <span class="heading">Snowcamp</span>
              </h2>

              <p class="text">
                A unique conference for devs, ops and architects
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="single">
              <img src="{{.Site.BaseURL}}/img/icon-univ.png" alt="universities" width="30%">
              <h3 class="title">Universities</h3>
              <p class="info">A day of training <br/>(choice of 2 trainings of 3 hours long).</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="single">
              <img src="{{.Site.BaseURL}}/img/icon-conf.png" alt="conference" width="30%">
              <h3 class="title">Conferences</h3>
              <p class="info">2 days of conferences with 45mn talks.</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="single">
              <img src="{{.Site.BaseURL}}/img/icon-unconference.png" alt="unconference" width="30%">
              <h3 class="title">Unconference</h3>
              <p class="info">A day of exchange on the skiing slopes gathering speakers and attendees.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div id="snc-innovation" class="snc-innovation">
    <div class="snc-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="snc-heading-area">
              <h2 class="snc-heading">
                <span class="back-heading">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                </span>
                <span class="heading">Innovation &amp; Recherche</span>
              </h2>

              <p class="text">
                A high-level technical conference gathering engineers and researchers
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="single">
              <img src="{{.Site.BaseURL}}/img/icon-dev.png" alt="dev" width="30%">
              <h3 class="title">Innovation</h3>
              <p class="info">Learn about today's and tomorrow's tools, frameworks and technologies.</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="single">
              <img src="{{.Site.BaseURL}}/img/icon-cloud.png" alt="conference" width="30%">
              <h3 class="title">Exchange</h3>
              <p class="info">Meet and exchange with other devs, ops, architects and speakers.</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="single">
              <img src="{{.Site.BaseURL}}/img/icon-academic.png" alt="unconference" width="30%">
              <h3 class="title">Research</h3>
              <p class="info">Discover trending works of researchers.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div id="program" class="snc-programme">
    <div class="snc-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="snc-heading-area">
              <h2 class="snc-heading">
                <span class="back-heading">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
                <span class="heading">Program</span>
              </h2>


            </div>
          </div>
        </div>
        <div class="row">
          <a id="sched-embed" href="https://snowcamp2019.sched.com/" data-sched-sidebar="no">SnowCamp 2019 schedule &amp; directory.</a>
          <script type="text/javascript" src="https://snowcamp2019.sched.com/js/embed.js"></script>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div id="sponsors" class="snc-sponsors">
    <div class="snc-inner-bg">
      <div class="snc-inner">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 text-center">
              <div class="snc-heading-area">
                <h2 class="snc-heading">
                  <span class="back-heading"><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                  <span class="heading">Sponsors 2019</span>
                </h2>
                <p class="text">
                    They have already placed their trust to prepare 2019 edition together.
                    Many thanks to our sponsors!
                  </p>
              </div>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-xs-12">
              <h3 class="sponsored-heading first-heading">Sponsors Chamois</h3>
              <div class="sponsors-area">
              </div>
            </div>
          </div> -->
          <div class="row">
            <div class="col-xs-12">
              <h3 class="sponsored-heading first-heading">Sponsor Chamois &#129351;</h3>
            </div>
          </div>
          <div class="sponsors-area">
            <div class="row">
              <div class="single">
                <a href="https://www.thalesgroup.com/en" target="_blank"
                   data-placement="top" data-toggle="tooltip" data-html="true"
                   data-original-title="">
                  <img src="{{.Site.BaseURL}}/img/sponsors/2019/thales.png" alt="Thales"/></a>
              </div>
            </div>
          </div>

          <div class="row">
              <div class="col-xs-12">
                <h3 class="sponsored-heading">Sponsors Étoile &#9734;</h3>
              </div>
          </div>
          <div class="sponsors-area">
              <div class="row">
                <div class="single">
                  <a href="https://www.zenika.com/" target="_blank"
                      data-placement="top" data-toggle="tooltip" data-html="true"
                      data-original-title="<strong>Zenika</strong>, technological and organizational innovation. Building together a simpler, more open, freer and accessible world. &lt;coding the world&gt;">
                    <img src="{{.Site.BaseURL}}/img/sponsors/2018/zenika.png" alt="Zenika"/></a>
                </div>
                <div class="single">
                  <a href="http://www.norsys.fr/" target="_blank"
                     data-placement="top" data-toggle="tooltip" data-html="true"
                     data-original-title="Norsys est une ESN spécialisée depuis plus de 20 ans dans le conseil en assistance à maîtrise d’ouvrage et l’ingénierie informatique sur les technologies Open source. Elle compte aujourd’hui 500 collaborateurs répartis sur Lille, Paris, Lyon, Grenoble, Nantes, Nice et Marrakech.">
                    <img src="{{.Site.BaseURL}}/img/sponsors/2018/norsys.png" alt="Norsys"/></a>
                </div>
                <div class="single">
                  <a href="https://www.forgerock.com/" target="_blank"
                     data-placement="top" data-toggle="tooltip" data-html="true"
                     data-original-title="<strong>ForgeRock®</strong> is the Digital Identity Management company transforming the way organizations interact securely with customers, employees, devices, and things. Organizations adopt the ForgeRock Identity Platform™ as their digital identity system of record to monetize customer relationships, address stringent regulations for privacy and consent (GDPR, HIPAA, FCC privacy, etc.), and leverage the internet of things. ForgeRock serves hundreds of brands, including Morningstar, Vodafone, GEICO, Toyota and Pearson, as well as governments such as Norway, New Zealand, and Belgium, among many others. Headquartered in San Francisco, California, ForgeRock has offices in Austin, London, Bristol, Grenoble, Munich, Paris, Oslo, Singapore, Sydney and Vancouver, Washington.">
                    <img src="{{.Site.BaseURL}}/img/sponsors/2018/forgerock.png" alt="ForgeRock"/></a>
                </div>
              </div>
              <div class="row">
                <div class="single">
                  <a href="http://www.open-groupe.com/" target="_blank"
                      data-placement="top" data-toggle="tooltip" data-html="true"
                      data-original-title="General IT services company (Java, C#, ReactJS, Angular,…), specialized on digital expertises (IoT, Big Data, Market Place, Mobility &amp; Geolocalisation, Digital Communication), with a strong focus on employees relationship and customer proximity">
                    <img src="{{.Site.BaseURL}}/img/sponsors/2019/open.png" alt="Open"/></a>
                </div>
                <div class="single">
                  <a href="http://www.stack-labs.com" target="_blank"
                    data-placement="top" data-toggle="tooltip" data-html="true"
                    data-original-title="The new generation tech company. Big Data pure player, turning data into valuable services.">
                    <img src="{{.Site.BaseURL}}/img/sponsors/2019/stacklabs.png" alt="StackLabs"/></a>
                </div>
                <div class="single">
                  <a href="https://www.criteo.com/" target="_blank"
                    data-placement="top" data-toggle="tooltip" data-html="true"
                    data-original-title="Criteo (CRTO), the leader in commerce marketing, is building the highest performing and open commerce marketing ecosystem to drive profits and sales for retailers and brands. 2,700 Criteo team members partner with 16,000 customers and thousands of publishers across the globe to deliver performance at scale by connecting shoppers to the things they need and love. Designed for commerce, Criteo Commerce Marketing Ecosystem sees over $550 billion in annual commerce sales data.">
                    <img src="{{.Site.BaseURL}}/img/sponsors/2019/crite.png" alt="Criteo" /></a>
                </div>
              </div>
              <div class="row">
                <div class="single">
                  <a href="https://kaizen-solutions.net/" target="_blank"
                     data-placement="top" data-toggle="tooltip" data-html="true"
                     data-original-title="Notre société de services accompagne de grands groupes industriels sur Grenoble et sur Lyon en apportant des solutions logicielles haut de gamme sur l’ensemble des couches logicielles du capteur jusqu’au cloud. Partenaire boîte blanche, nous accompagnons nos clients sur leurs systèmes d’informations connectés temps réel à travers des solutions qui répondent à des projets complexes, portant sur de forts enjeux économiques, techniques et humains.
                                          <br/>Vous avez envie de rejoindre une jeune société à taille humaine ? Qui se préoccupe de vous proposer des projets qui correspondent à vos attentes ?
                                          <br/>Être vrai avant d’être différent, voilà notre vision du métier du service !">
                    <img src="{{.Site.BaseURL}}/img/sponsors/2018/kaizen.png" alt="Kaizen Solutions"/></a>
                </div>
                <div class="single">
                  <a href="https://www.soprasteria.com/en/home" target="_blank"
                     data-placement="top" data-toggle="tooltip" data-html="true"
                     data-original-title="">
                    <img src="{{.Site.BaseURL}}/img/sponsors/2018/sopra-steria.png" alt="Sopra Steria"/></a>
                </div>
                <div class="single">
                  <a href="https://www.kelkoogroup.com/" target="_blank"
                     data-placement="top" data-toggle="tooltip" data-html="true"
                     data-original-title="Kelkoo Group is an ecommerce marketing platform that connects our merchants’ products to a network of proprietary shopping websites and premium publishers. Our 20 years of experience in ecommerce, digital marketing and consumer analytics, provide efficient solutions in 22 countries worldwide.">
                    <img src="{{.Site.BaseURL}}/img/sponsors/2019/kelkoogroup.png" alt="Kelkoo"/></a>
                </div>
              </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <h3 class="sponsored-heading">Sponsors Flocon ❄</h3>
            </div>
          </div>
          <div class="sponsors-area">
            <div class="row">
              <div class="single">
                <a href="https://www.salesforce.com/" target="_blank"
                  data-placement="top" data-toggle="tooltip" data-html="true"
                  data-original-title="Salesforce is the world’s #1 Customer Relationship Management (CRM) platform. Our cloud-based applications for sales, service, marketing, and more don’t require IT experts to set up or manage — simply log in and start connecting to customers in a whole new way. The expertise of the Grenoble R&D centre covers a wide range of areas from information retrieval, query understanding, machine learning, artificial intelligence, distributed computing, large scale distributed processing, from user interface to backend infrastructure. The centre is looking for talented and motivated individuals to join and to contribute to the future of Search at Salesforce.">
                  <img src="{{.Site.BaseURL}}/img/sponsors/2018/salesforce.png" alt="Salesforce"/></a>
              </div>
              <div class="single">
                <a href="https://www.orange.com/" target="_blank">
                  <img src="{{.Site.BaseURL}}/img/sponsors/2019/orange.png" alt="Orange"/></a>
              </div>
              <div class="single">
                <a href="https://www.bonitasoft.com/" target="_blank">
                  <img src="{{.Site.BaseURL}}/img/sponsors/2019/bonitasoft.png" alt="BonitSoft"/></a>
              </div>
            </div>
          </div>

          <div class="sponsors-btn-area">
            <a class="snc-btn snc-btn-big" href="{{.Site.BaseURL}}{{ .Lang }}/sponsors"><span>Become a sponsor</span></a>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <h3 class="sponsored-heading">Partners</h3>
            </div>
          </div>
          <div class="sponsors-area">
            <div class="row">
              <div class="single">
                <a href="https://www.manning.com/" target="_blank"
                data-placement="top" data-toggle="tooltip" data-html="true"
                data-original-title="Manning is an independent publisher of computer books for software developers, engineers, architects, system administrators, managers and all who are professionally involved with the computer business. The books we publish cover a huge range of topics that the modern developer needs; from languages and frameworks, to best practices for team leaders.">
                  <img src="{{.Site.BaseURL}}/img/partners/2019/manning.png" alt="Manning"/></a>
              </div>
              <div class="single">
                <a href="http://alpesjug.fr/" target="_blank"
                data-placement="top" data-toggle="tooltip" data-html="true"
                data-original-title="AlpesJug is the Java User Group of the Grenoble area, and the initiator of the Snowcamp conference.">
                  <img src="{{.Site.BaseURL}}/img/partners/alpesjug.png" alt="AlpesJug"/></a>
              </div>
              <div class="single">
                <a href="https://www.stickermule.com/uk" target="_blank"
                data-placement="top" data-toggle="tooltip" data-html="true"
                data-original-title="Sticker Mule is the fastest and easiest way to buy custom printed products. Thousands of people in the EU trust us to make kick-ass stickers, labels, magnets, badges & more. Order in seconds and get free online proofs, free shipping, and super fast turnaround.">
                  <img src="{{.Site.BaseURL}}/img/partners/2019/stickermule.png" alt="Sticker Mule"/></a>
              </div>
            </div>
          </div>
        </div> <!-- Container -->
      </div><!-- Inner -->
    </div> <!-- Inner-bg -->
  </div> <!-- Sponsors -->
</section>

<section>
  <div id="venue" class="snc-venue">
    <div class="snc-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="snc-heading-area">
              <h2 class="snc-heading">
                <span class="back-heading">
                    <i class="fa fa-map-o" aria-hidden="true"></i>
                </span>
                <span class="heading">Venue</span>
              </h2>
              <p class="text">
                SnowCamp will take place in "La Maison Minatec" - Conference Center
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 polaroid-images">
            <div class="single">
              <a href="https://www.minatec.org/en/life-minatec/maison-minatec-conference-center/" target="_blank" class="rot-4" title="Maison Minatec - Conference Center">
                <img src="{{.Site.BaseURL}}/img/la-maison-minatec.png" alt="Maison Minatec - Conference Center" width="40%">
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="single">
              <p>Both Universities and Conferences will take place at
                <a href="https://www.minatec.org/en/life-minatec/maison-minatec-conference-center/" target="_blank"><strong>"La Maison Minatec"</strong></a>,
                 a Conference Center in the heart of Grenoble.</p>
              <br/>
              <p><strong>3 Parvis Louis Néel<br/>38000 Grenoble</strong></p>
              <br/>
              <p>You can access:</p>
              <ul>
                <li>by Tramway line B (towards Grenoble Presqu'île), stop "Cité Internationale"</li>
                <li>by Car (you can park at the parking Doyen Weil or Europole Gare)
                  <ul>
                    <li>when arriving from Lyon or Valence, take Exit 16 off of the N481; go over the Oxford bridge and then follow signs to MINATEC via "Rue des Martyrs"</li>
                    <li>when arriving from Chambéry, Gap or Sisteron, take Exit 2 off of the A480; follow signs to MINATEC via "Rue Félix Esclangon"</li>
                  </ul>
                </li>
                <li>by <a href="http://www.metromobilite.fr/velo.html" target="_blank">bike</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="single">
              <p><strong>Latitude:</strong> 45.195807222</p>
              <p><strong>Longitude:</strong> 5.7096947222</p>
            </div>
            <div class="single">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2811.5868099502018!2d5.706387124129039!3d45.1954597678373!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x635d7041ccdf995b!2sMINATEC!5e0!3m2!1sfr!2sfr!4v1506778131344" width="500" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="single polaroid-images">
              <a href="#" target="_blank" class="rot-4" title="Maison Minatec - Keynote Room">
                <img src="{{.Site.BaseURL}}/img/minatec-amphi.png" alt="Maison Minatec" width="40%">
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 polaroid-images">
            <div class="single">
              <a href="https://www.minatec.org/en/how-to-find-us/#front-image" target="_blank" class="rot4" title="Maison Minatec - Access">
                <img src="{{.Site.BaseURL}}/img/minatec-access-en.gif" alt="Maison Minatec - Conference Center" width="30%">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
