<section>
    <div class="snc-banner">
      <div class="snc-banner-style">
        <div class="snc-inner">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="banner-info">
                  <div class="snc-countdown-area">
                    <div id="snc-countdown" data-date="2020/1/22">
                      <span class="snc-days">100 <i> Jours </i></span>
                      <span class="snc-hr">14 <i> Heures </i></span>
                      <span class="snc-min">15 <i> Minutes </i></span>
                      <span class="snc-sec">29<i> Secondes </i></span>
                    </div>
                  </div>
                  <h2 class="title">Snowcamp <span>2020</span></h2>
                  <h3 class="date"><span>22-25 Janvier </span>2020, Grenoble</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section>
    <div id="snc-snowcamp" class="snc-snowcamp">
      <div class="snc-inner">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="snc-heading-area">
                <h2 class="snc-heading">
                  <span class="back-heading">
                      <i class="fa fa-snowflake-o" aria-hidden="true"></i>
                  </span>
                  <span class="heading">Snowcamp</span>
                </h2>
  
                <p class="text">
                  Une conférence unique pour les devs, les ops et les archis
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="single">
                <img src="{{.Site.BaseURL}}/img/icon-univ.png" alt="universities" width="30%">
                <h3 class="title">Universités</h3>
                <p class="info">Une journée de formation en profondeur<br/>(2 formations de 3 heures au choix).</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="single">
                <img src="{{.Site.BaseURL}}/img/icon-conf.png" alt="conference" width="30%">
                <h3 class="title">Conférences</h3>
                <p class="info">2 jours de conférences avec des présentations de 45 minutes.</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="single">
                <img src="{{.Site.BaseURL}}/img/icon-unconference.png" alt="unconference" width="30%">
                <h3 class="title">Unconference</h3>
                <p class="info">Une journée d'échange sur les pistes mêlant orateurs et participants.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section>
    <div id="snc-innovation" class="snc-innovation">
      <div class="snc-inner">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="snc-heading-area">
                <h2 class="snc-heading">
                  <span class="back-heading">
                      <i class="fa fa-cogs" aria-hidden="true"></i>
                  </span>
                  <span class="heading">Innovation &amp; Recherche</span>
                </h2>
  
                <p class="text">
                  Une conférence à haut niveau technique réunissant des ingénieurs et des académiques
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="single">
                <img src="{{.Site.BaseURL}}/img/icon-dev.png" alt="dev" width="30%">
                <h3 class="title">Innovation</h3>
                <p class="info">Découvrez les outils, frameworks et technologies d'aujourd'hui et de demain.</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="single">
                <img src="{{.Site.BaseURL}}/img/icon-cloud.png" alt="conference" width="30%">
                <h3 class="title">Échange</h3>
                <p class="info">Rencontrez et échangez avec d'autres devs, ops, archis et orateurs.</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="single">
                <img src="{{.Site.BaseURL}}/img/icon-academic.png" alt="unconference" width="30%">
                <h3 class="title">Recherche</h3>
                <p class="info">Découvrez les travaux des chercheurs sur les tendances et sujets du moment.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section>
    <div id="program" class="snc-programme">
      <div class="snc-inner">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="snc-heading-area">
                <h2 class="snc-heading">
                  <span class="back-heading">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                  </span>
                  <span class="heading">{{ i18n "cfp_program_translation" }}</span>
                </h2>
  
                <div class="ui steps">
                    <div class="active step">
                      <i class="inbox icon"></i>
                      <div class="content">
                        <div class="title">Ouverture du CFP</div>
                        <div class="description">Été 2019</div>
                      </div>
                    </div>
                    <div class="active step">
                      <i class="spinner icon"></i>
                      <div class="content">
                        <div class="title">Fermeture du CFP</div>
                        <div class="description">Mi-Octobre 2019</div>
                      </div>
                    </div>
                    <div class="active step">
                      <i class="mail icon"></i>
                      <div class="content">
                        <div class="title">Notifications</div>
                        <div class="description">Début Novembre 2019</div>
                      </div>
                    </div>
                    <div class="active step">
                      <i class="checked calendar icon"></i>
                      <div class="content">
                        <div class="title">Snowcamp</div>
                        <div class="description">22-25 Janvier 2020</div>
                      </div>
                    </div>
                  </div> 
                </div>
              </div>
            </div>
            <div class="row">
               <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="single">
                  <img src="{{.Site.BaseURL}}/img/themas.png" alt="themas">
                </div>
              </div> 
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="single">
                  <p>Le CFP n'est pas encore ouvert... Soyez patients ! Suivez-nous sur Twitter <a class="sp-tw" href="https://twitter.com/SnowCampIO"><i class="fa fa-twitter"></i></a> pour être notifiés de
                    l'ouverture du CFP.</p>
                  <br/>
                  <p>Quelques conseils :</p>
                  <ul>
                    <li>Choisissez bien votre titre</li>
                    <li>Expliquez ce que les participants vont voir et apprendre</li>
                    <li>Faites des démos</li>
                    <li>Soumettez tôt !</li>
                  </ul>
                  <br/>
                  <p>Les sessions peuvent être proposées en français ou en anglais. Les présentations sont sélectionnées
                    par un comité neutre et ouvert. Alors lancez-vous !
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <section>
        <div id="sponsors" class="snc-sponsors">
          <div class="snc-inner-bg">
            <div class="snc-inner">
              <div class="container">
                <div class="row">
                  <div class="col-xs-12 text-center">
                    <div class="snc-heading-area">
                      <h2 class="snc-heading">
                        <span class="back-heading"><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                        <span class="heading">Sponsors 2020</span>
                      </h2>
                      <p class="text">
                          Ils nous ont déjà accordé leur confiance pour préparer ensemble l'édition 2020. <br/>
                          Un grand merci à nos sponsors !
                        </p>
                    </div>
                  </div>
                </div>
                {{ if isset .Site.Data.sponsors "chamois" }}
                <div class="row">
                  <div class="col-xs-12">
                    <h3 class="sponsored-heading first-heading">Sponsor Chamois &#129351;</h3>
                  </div>
                </div>
                {{ end }}
                <div class="sponsors-area">
                    {{ range $i, $sponsor := $.Site.Data.sponsors.chamois }}
                      {{ if modBool $i 3 }}
                      <div class="row">
                      {{end}}
                          <div class="single">
                            <a href="{{ $sponsor.url_fr }}" target="_blank"
                                data-placement="top" data-toggle="tooltip" data-html="true"
                                data-original-title="{{ $sponsor.description_fr }}">
                              <img src="{{.Site.BaseURL}}/{{ $sponsor.logo }}" alt="{{ $sponsor.name }}"/></a>
                          </div>
                      {{ if modBool (add $i 1) 3 }}
                      </div>
                      {{end}}                  
                    {{ end }}
                </div>
                {{ if isset .Site.Data.sponsors "etoile" }}
                <div class="row">
                    <div class="col-xs-12">
                      <h3 class="sponsored-heading">Sponsors Étoile &#9734;</h3>
                    </div>
                </div>
                {{ end }}
                <div class="sponsors-area">
                    {{ range $i, $sponsor := $.Site.Data.sponsors.etoile }}
                      {{ if modBool $i 3 }}
                      <div class="row">
                      {{end}}
                          <div class="single">
                            <a href="{{ $sponsor.url_fr }}" target="_blank"
                                data-placement="top" data-toggle="tooltip" data-html="true"
                                data-original-title="{{ $sponsor.description_fr }}">
                              <img src="{{.Site.BaseURL}}/{{ $sponsor.logo }}" alt="{{ $sponsor.name }}"/></a>
                          </div>
                      {{ if modBool (add $i 1) 3 }}
                      </div>
                      {{end}}                  
                    {{ end }}
                </div>
                {{ if isset .Site.Data.sponsors "flocon" }}
                <div class="row">
                  <div class="col-xs-12">
                    <h3 class="sponsored-heading">Sponsors Flocon ❄</h3>
                  </div>
                </div>
                {{ end }}
                <div class="sponsors-area">
                    {{ range $i, $sponsor := $.Site.Data.sponsors.flocon }}
                      {{ if modBool $i 3 }}
                      <div class="row">
                      {{end}}
                          <div class="single">
                            <a href="{{ $sponsor.url_fr }}" target="_blank"
                                data-placement="top" data-toggle="tooltip" data-html="true"
                                data-original-title="{{ $sponsor.description_fr }}">
                              <img src="{{.Site.BaseURL}}/{{ $sponsor.logo }}" alt="{{ $sponsor.name }}"/></a>
                          </div>
                      {{ if modBool (add $i 1) 3 }}
                      </div>
                      {{end}}                  
                    {{ end }}
                </div>
      
                <div class="sponsors-btn-area">
                  <a class="snc-btn snc-btn-big" href="{{.Site.BaseURL}}{{ .Lang }}/sponsors"><span>Devenir sponsor</span></a>
                </div>
    
                <div class="row">
                  <div class="col-xs-12">
                    <h3 class="sponsored-heading">Partners</h3>
                  </div>
                </div>
                <div class="sponsors-area">
                    {{ range $i, $sponsor := $.Site.Data.sponsors.partners }}
                      {{ if modBool $i 3 }}
                      <div class="row">
                      {{end}}
                          <div class="single">
                            <a href="{{ $sponsor.url_fr }}" target="_blank"
                                data-placement="top" data-toggle="tooltip" data-html="true"
                                data-original-title="{{ $sponsor.description_fr }}">
                              <img src="{{.Site.BaseURL}}/{{ $sponsor.logo }}" alt="{{ $sponsor.name }}"/></a>
                          </div>
                      {{ if modBool (add $i 1) 3 }}
                      </div>
                      {{end}}                  
                    {{ end }}
                </div>
              </div> <!-- Container -->
            </div><!-- Inner -->
          </div> <!-- Inner-bg -->
        </div> <!-- Sponsors -->
      </section>
  
  <section>
    <div id="venue" class="snc-venue">
      <div class="snc-inner">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="snc-heading-area">
                <h2 class="snc-heading">
                  <span class="back-heading">
                      <i class="fa fa-map-o" aria-hidden="true"></i>
                  </span>
                  <span class="heading">Venir</span>
                </h2>
                <p class="text">
                  SnowCamp se déroulera au Centre de Congrès du WTC (World Trade Center) de Grenoble à la fois pour les Universités et les Conférences.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 polaroid-images">
              <div class="single">
                <a href="http://www.congres-wtcgrenoble.com/fr/annuaire-geolocalise?field_service_tid%5B%5D=73&field_service_tid%5B%5D=69&field_service_tid%5B%5D=68&field_service_tid%5B%5D=70" target="_blank" class="rot-4" title="WTC Grenoble">
                  <img src="{{.Site.BaseURL}}/img/wtc.jpg" alt="WTC Grenoble" width="40%">
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="single">
                <p>Les Universités et les Conférences auront toutes lieux à la
                  <a href="http://www.congres-wtcgrenoble.com/fr" target="_blank"><strong>"WTC World Trade Center Grenoble"</strong></a>,
                   un Centre de Conférences au cœur de Grenoble.</p>
                <br/>
                <p><strong>5 - 7 , place Robert Schuman<br/>38025 Grenoble</strong></p>
                <br/>
                <p>Vous pouvez y accéder :</p>
                <ul>
                  <li>par la ligne B du Tram (direction Grenoble Presqu'île), arrêt "Palais De Justice - Gare"</li>
                  <li>en voiture (vous pouvez vous garer aux parkings Doyen Weil ou d'Europole Gare)
                    <ul>
                      <li>en arrivant de Lyon ou de Valence, prenez la sortie d’autoroute "Europole - Gares" et suivre la direction Europole</li>
                      <li>en arrivant de Chambéry, Gap ou Sisteron, prenez la rocade sud, suivre la direction Lyon par l’autoroute, puis la
                        sortie "Europole - Gares" et suivre la direction Europole</li>
                    </ul>
                  </li>
                  <li>en train ou bus : utilisez le passage souterrain depuis la gare vers Europole</li>
                  <li>par avion : il y a des navettes d'aéroports : depuis Lyon Saint-Exupéry (17 rotations
                    7j/7) et depuis Genève Cointrin (3 rotations, 7j/7)</li>
                  <li>en <a href="http://www.metromobilite.fr/velo.html" target="_blank">vélo</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="single">
                <p><strong>Latitude :</strong> 45.191113</p>
                <p><strong>Longitude :</strong> 5.712145</p>
              </div>
              <div class="single">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2811.812207884478!2d5.711009615420941!3d45.190897559659334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478af481b7661f97%3A0x2f475fe8d95f61e0!2sCentre+de+congr%C3%A8s+du+World+Trade+Center+Grenoble!5e0!3m2!1sfr!2sfr!4v1555137908940!5m2!1sfr!2sfr" width="500" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
              <div class="single polaroid-images">
                <a href="#" target="_blank" class="rot-4" title="WTC - Atrium (Crédit photo WTC)">
                  <img src="{{.Site.BaseURL}}/img/wtc-atrium.jpg" alt="WTC - Atrium (Crédit photo WTC)" width="40%">
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 polaroid-images">
              <div class="single">
                <a href="http://www.congres-wtcgrenoble.com/sites/default/files/PLAN%20ACCES%20GENERAL.pdf" target="_blank" class="rot4" title="WTC - Plan d'accès">
                  <img src="{{.Site.BaseURL}}/img/wtc-access-en.png" alt="WTC, Centre de Congrès de Grenoble" width="30%">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  