<section>
  <div class="snc-banner">
    <div class="snc-banner-style">
      <div class="snc-inner">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="banner-info">
                <div class="snc-countdown-area">
                  <div id="snc-countdown" data-date="2019/1/23">
                    <span class="snc-days">100 <i> Jours </i></span>
                    <span class="snc-hr">14 <i> Heures </i></span>
                    <span class="snc-min">15 <i> Minutes </i></span>
                    <span class="snc-sec">29<i> Secondes </i></span>
                  </div>
                </div>
                <h2 class="title">Snowcamp <span>2019</span></h2>
                <h3 class="date"><span>23-26 Janvier </span>2019, Grenoble</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div id="snc-snowcamp" class="snc-snowcamp">
    <div class="snc-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="snc-heading-area">
              <h2 class="snc-heading">
                <span class="back-heading">
                    <i class="fa fa-snowflake-o" aria-hidden="true"></i>
                </span>
                <span class="heading">Snowcamp</span>
              </h2>

              <p class="text">
                Une conférence unique pour les devs, les ops et les archis
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="single">
              <img src="{{.Site.BaseURL}}/img/icon-univ.png" alt="universities" width="30%">
              <h3 class="title">Universités</h3>
              <p class="info">Une journée de formation en profondeur<br/>(2 formations de 3 heures au choix).</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="single">
              <img src="{{.Site.BaseURL}}/img/icon-conf.png" alt="conference" width="30%">
              <h3 class="title">Conférences</h3>
              <p class="info">2 jours de conférences avec des présentations de 45 minutes.</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="single">
              <img src="{{.Site.BaseURL}}/img/icon-unconference.png" alt="unconference" width="30%">
              <h3 class="title">Unconference</h3>
              <p class="info">Une journée d'échange sur les pistes mêlant orateurs et participants.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div id="snc-innovation" class="snc-innovation">
    <div class="snc-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="snc-heading-area">
              <h2 class="snc-heading">
                <span class="back-heading">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                </span>
                <span class="heading">Innovation &amp; Recherche</span>
              </h2>

              <p class="text">
                Une conférence à haut niveau technique réunissant des ingénieurs et des académiques
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="single">
              <img src="{{.Site.BaseURL}}/img/icon-dev.png" alt="dev" width="30%">
              <h3 class="title">Innovation</h3>
              <p class="info">Découvrez les outils, frameworks et technologies d'aujourd'hui et de demain.</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="single">
              <img src="{{.Site.BaseURL}}/img/icon-cloud.png" alt="conference" width="30%">
              <h3 class="title">Échange</h3>
              <p class="info">Rencontrez et échangez avec d'autres devs, ops, archis et orateurs.</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="single">
              <img src="{{.Site.BaseURL}}/img/icon-academic.png" alt="unconference" width="30%">
              <h3 class="title">Recherche</h3>
              <p class="info">Découvrez les travaux des chercheurs sur les tendances et sujets du moment.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div id="cfp" class="snc-programme">
    <div class="snc-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="snc-heading-area">
              <h2 class="snc-heading">
                <span class="back-heading">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
                <span class="heading">CFP &amp; Programme</span>
              </h2>
              <div class="ui steps">
                <div class="active step">
                  <i class="inbox icon"></i>
                  <div class="content">
                    <div class="title">Ouverture du CFP</div>
                    <div class="description">1er Septembre 2018</div>
                  </div>
                </div>
                <div class="active step">
                  <i class="spinner icon"></i>
                  <div class="content">
                    <div class="title">Fermeture du CFP</div>
                    <div class="description">4 Novembre 2018</div>
                  </div>
                </div>
                <div class="active step">
                  <i class="mail icon"></i>
                  <div class="content">
                    <div class="title">Notifications</div>
                    <div class="description">Mi-Novembre 2018</div>
                  </div>
                </div>
                <div class="active step">
                  <i class="checked calendar icon"></i>
                  <div class="content">
                    <div class="title">Snowcamp</div>
                    <div class="description">23-26 Janvier 2019</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="single">
              <img src="{{.Site.BaseURL}}/img/themas.png" alt="themas">
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="single">
              <p>Le CFP est ouvert ! C'est le moment de soumettre des sujets extraordinaires ici : <a
                href="https://www.papercall.io/snowcamp-2019" target="_blank"><i class="fa fa-bullhorn">
                https://www.papercall.io/snowcamp-2019</i></a></p>
              <br/>
              <p>Quelques conseils :</p>
              <ul>
                <li>Choisissez bien votre titre</li>
                <li>Expliquez ce que les participants vont voir et apprendre</li>
                <li>Faites des démos</li>
                <li>Soumettez tôt !</li>
              </ul>
              <br/>
              <p>Les sessions peuvent être proposées en français ou en anglais. Les présentations sont sélectionnées
                par un comité neutre et ouvert. Alors lancez-vous !
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div id="sponsors" class="snc-sponsors">
    <div class="snc-inner-bg">
      <div class="snc-inner">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 text-center">
              <div class="snc-heading-area">
                <h2 class="snc-heading">
                  <span class="back-heading"><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                  <span class="heading">Sponsors 2019</span>
                </h2>
                <p class="text">
                  Ils nous ont déjà accordé leur confiance pour préparer ensemble l'édition 2019. <br/>
                  Un grand merci à nos sponsors !
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <h3 class="sponsored-heading first-heading">Sponsors Chamois &#129351;</h3>
            </div>
          </div>
          <div class="sponsors-area">
            <div class="row">
              <div class="single">
                <a href="https://www.thalesgroup.com/fr" target="_blank"
                   data-placement="top" data-toggle="tooltip" data-html="true"
                   data-original-title="">
                  <img src="{{.Site.BaseURL}}/img/sponsors/2019/thales.png" alt="Thales"/></a>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <h3 class="sponsored-heading">Sponsors Étoile &#9734;</h3>
            </div>
          </div>
          <div class="sponsors-area">
            <div class="row">
              <div class="single">
                <a href="https://www.zenika.com/" target="_blank"
                   data-placement="top" data-toggle="tooltip" data-html="true"
                   data-original-title="<strong>Zenika</strong>, L’innovation technologique, organisationnelle et managériale permettant de construire ensemble un monde plus simple, plus ouvert, plus libre et plus accessible à tous. &lt;coding the world&gt;">
                  <img src="{{.Site.BaseURL}}/img/sponsors/2018/zenika.png" alt="Zenika"/></a>
              </div>
              <div class="single">
                <a href="http://www.norsys.fr/" target="_blank"
                   data-placement="top" data-toggle="tooltip" data-html="true"
                   data-original-title="Norsys est une ESN spécialisée depuis plus de 20 ans dans le conseil en assistance à maîtrise d’ouvrage et l’ingénierie informatique sur les technologies Open source. Elle compte aujourd’hui 500 collaborateurs répartis sur Lille, Paris, Lyon, Grenoble, Nantes, Nice et Marrakech.">
                  <img src="{{.Site.BaseURL}}/img/sponsors/2018/norsys.png" alt="Norsys"/></a>
              </div>
              <div class="single">
                <a href="https://www.forgerock.fr/" target="_blank"
                   data-placement="top" data-toggle="tooltip" data-html="true"
                   data-original-title="<strong>ForgeRock®</strong>, le leader de la gestion de l’identité numérique, transforme la manière dont les entreprises établissent des relations de confiance avec les personnes, les services et les objets. Les organisations adoptent la ForgeRock Identity Platform ™ comme système d’identité numérique pour monétiser les relations avec les clients, respecter les réglementations strictes en matière de confidentialité et de consentement (GRPD, HIPAA, confidentialité de la FCC, etc.) et exploiter l’Internet des objets. ForgeRock dessert des centaines de marques, notamment Morningstar, Vodafone, GEICO, Toyota, TomTom et Pearson, ainsi que des gouvernements comme la Norvège, la Nouvelle-Zélande et la Belgique, entre autres.">
                  <img src="{{.Site.BaseURL}}/img/sponsors/2018/forgerock.png" alt="ForgeRock"/></a>
              </div>
            </div>
            <div class="row">
              <div class="single">
                <a href="http://www.open-groupe.com/" target="_blank"
                   data-placement="top" data-toggle="tooltip" data-html="true"
                   data-original-title="ESN généraliste et multi technologique (Java, C#, ReactJS, Angular,…) , résolument tournée vers l’expertise digitale (IoT, Big Data, E-commerce, mobilité, innovation), mettant un accent fort sur la relation collaborateur ainsi que sur la proximité clients">
                  <img src="{{.Site.BaseURL}}/img/sponsors/2019/open.png" alt="Open"/></a>
              </div>
              <div class="single">
                <a href="http://www.stack-labs.com" target="_blank"
                   data-placement="top" data-toggle="tooltip" data-html="true"
                   data-original-title="The new generation tech company. Big Data pure player, turning data into valuable services.">
                  <img src="{{.Site.BaseURL}}/img/sponsors/2019/stacklabs.png" alt="StackLabs"/></a>
              </div>
              <div class="single">
                <a href="https://www.criteo.com/" target="_blank"
                   data-placement="top" data-toggle="tooltip" data-html="true"
                   data-original-title="Criteo (CRTO), the leader in commerce marketing, is building the highest performing and open commerce marketing ecosystem to drive profits and sales for retailers and brands. 2,700 Criteo team members partner with 16,000 customers and thousands of publishers across the globe to deliver performance at scale by connecting shoppers to the things they need and love. Designed for commerce, Criteo Commerce Marketing Ecosystem sees over $550 billion in annual commerce sales data.">
                  <img src="{{.Site.BaseURL}}/img/sponsors/2019/crite.png" alt="Criteo"/></a>
              </div>
            </div>
            <div class="row">
              <div class="single">
                <a href="https://kaizen-solutions.net/" target="_blank"
                   data-placement="top" data-toggle="tooltip" data-html="true"
                   data-original-title="Notre société de services accompagne de grands groupes industriels sur Grenoble et sur Lyon en apportant des solutions logicielles haut de gamme sur l’ensemble des couches logicielles du capteur jusqu’au cloud. Partenaire boîte blanche, nous accompagnons nos clients sur leurs systèmes d’informations connectés temps réel à travers des solutions qui répondent à des projets complexes, portant sur de forts enjeux économiques, techniques et humains.
                                        <br/>Vous avez envie de rejoindre une jeune société à taille humaine ? Qui se préoccupe de vous proposer des projets qui correspondent à vos attentes ?
                                        <br/>Être vrai avant d’être différent, voilà notre vision du métier du service !">
                  <img src="{{.Site.BaseURL}}/img/sponsors/2018/kaizen.png" alt="Kaizen Solutions"/></a>
              </div>
              <div class="single">
                <a href="https://www.soprasteria.com/fr/home" target="_blank"
                   data-placement="top" data-toggle="tooltip" data-html="true"
                   data-original-title="">
                  <img src="{{.Site.BaseURL}}/img/sponsors/2018/sopra-steria.png" alt="Sopra Steria"/></a>
              </div>
              <div class="single">
                <a href="http://www.kelkoo.fr/" target="_blank"
                   data-placement="top" data-toggle="tooltip" data-html="true"
                   data-original-title="Kelkoo Group est une plateforme marketing pour le e-commerce qui connecte les produits de nos marchands à nos sites propriétaires de comparaison de prix et à notre réseau premium de sites Publishers. Avec 20 ans d’expérience en e-commerce, marketing digital et analyse consommateur, nous proposons des solutions efficaces dans 22 pays à travers le monde">
                  <img src="{{.Site.BaseURL}}/img/sponsors/2019/kelkoogroup.png" alt="Zenika"/></a>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <h3 class="sponsored-heading">Sponsors Flocon ❄</h3>
          </div>
        </div>
        <div class="sponsors-area">
          <div class="row">
            <div class="single">
              <a href="https://www.salesforce.com/" target="_blank"
                 data-placement="top" data-toggle="tooltip" data-html="true"
                 data-original-title="Salesforce est la plateforme n° 1 au monde des solutions de gestion de la relation client (CRM). Pour configurer ou gérer nos applications basées sur le cloud (pour les ventes, les services, le marketing et bien plus encore), inutile de recourir à des spécialistes en informatique. Connectez-vous et découvrez simplement cette nouvelle manière d'être en contact avec vos clients. Salesforce à Grenoble, c'est une équipe de développement logiciel avec une expertise unique en recherche d'information, machine learning et haute performance en environnement distribué multi-tenants (cloud). Nous sommes à la recherche de développeurs motivés et talentueux, de toute experience désireux de contribuer au futur du search à Salesforce.">
                <img src="{{.Site.BaseURL}}/img/sponsors/2018/salesforce.png" alt="Salesforce"/></a>
            </div>
          </div>
        </div>

        <!-- <div class="row">
            <div class="col-xs-12 text-center">
                <div class="snc-heading-area">
                  <h2 class="sponsored-heading-previous">Sponsors 2018</h2>
                  <p class="text">
                      Sans eux, l'aventure 2018 n'aurait pas été possible.
                      Un grand merci à nos sponsors 2018 !
                  </p>
                </div>
          </div>
        </div>
        <div class="sponsors-area">
          <div class="row">
            <div class="single">
              <a href="https://www.forgerock.fr/" target="_blank"
                  data-placement="top" data-html="true"
                  data-original-title="<strong>ForgeRock®</strong>, le leader de la gestion de l’identité numérique, transforme la manière dont les entreprises établissent des relations de confiance avec les personnes, les services et les objets. Les organisations adoptent la ForgeRock Identity Platform ™ comme système d’identité numérique pour monétiser les relations avec les clients, respecter les réglementations strictes en matière de confidentialité et de consentement (GRPD, HIPAA, confidentialité de la FCC, etc.) et exploiter l’Internet des objets. ForgeRock dessert des centaines de marques, notamment Morningstar, Vodafone, GEICO, Toyota, TomTom et Pearson, ainsi que des gouvernements comme la Norvège, la Nouvelle-Zélande et la Belgique, entre autres.">
                <img src="{{.Site.BaseURL}}/img/sponsors/2018/forgerock.png" alt="ForgeRock"/></a>
            </div>
            <div class="single">
              <a href="https://kaizen-solutions.net/" target="_blank"
                  data-placement="top" data-html="true"
                  data-original-title="Notre société de services accompagne de grands groupes industriels sur Grenoble et sur Lyon en apportant des solutions logicielles haut de gamme sur l’ensemble des couches logicielles du capteur jusqu’au cloud. Partenaire boîte blanche, nous accompagnons nos clients sur leurs systèmes d’informations connectés temps réel à travers des solutions qui répondent à des projets complexes, portant sur de forts enjeux économiques, techniques et humains.
                                      <br/>Vous avez envie de rejoindre une jeune société à taille humaine ? Qui se préoccupe de vous proposer des projets qui correspondent à vos attentes ?
                                      <br/>Être vrai avant d’être différent, voilà notre vision du métier du service !">
                <img src="{{.Site.BaseURL}}/img/sponsors/2018/kaizen.png" alt="Kaizen Solutions"/></a>
            </div>
            <div class="single">
              <a href="http://lunatech.com/fr/" target="_blank"
                  data-placement="top" data-html="true"
                  data-original-title="Lunatech est une société internationale avec des bureaux à Rotterdam et Amsterdam en Hollande, ainsi qu'à Paris (Chessy). Autour d’une équipe d’experts, Lunatech propose des missions dans différents secteurs comme la logistique, la finance et bien d’autres domaines. Les équipes de Lunatech sont internationales avec 25 nationalités et près de 80 collaborateurs, dont 17 en France. Rejoindre Lunatech c’est l’occasion de coder en Scala sur la plupart des projets et de pouvoir participer à des conférences comme Devoxx, ScalaDays ou SnowCamp ;).  Lunatech est partenaire avec Lightbend. Mais Lunatech c’est aussi Java, avec une forte expertise autour de Play, Spring, et un partenariat avec Redhat.">
                <img src="{{.Site.BaseURL}}/img/sponsors/2018/lunatech-logo.png" alt="Lunatech"/></a>
            </div>
            <div class="single">
              <a href="http://www.norsys.fr/" target="_blank"
                data-placement="top" data-html="true"
                data-original-title="Norsys est une ESN spécialisée depuis plus de 20 ans dans le conseil en assistance à maîtrise d’ouvrage et l’ingénierie informatique sur les technologies Open source. Elle compte aujourd’hui 500 collaborateurs répartis sur Lille, Paris, Lyon, Grenoble, Nantes, Nice et Marrakech.">
                <img src="{{.Site.BaseURL}}/img/sponsors/2018/norsys.png" alt="Norsys"/></a>
            </div>
            <div class="single">
              <a href="https://www.soprasteria.com/fr/home" target="_blank">
                <img src="{{.Site.BaseURL}}/img/sponsors/2018/sopra-steria.png" alt="Sopra Steria"/></a>
            </div>
            <div class="single">
              <a href="http://beebuzziness.com/" target="_blank"
              data-placement="top" data-html="true"
              data-original-title="BEE<b>BUZZINESS</b> est une entreprise citoyenne qui développe depuis 2001 des solutions innovantes et écoresponsables de gestion, de diffusion et d’impression de documents. Sa technologie de rupture redéfinit tous les paradigmes de la gestion documentaire et de médias en permettant aux publications et à leurs contenus de devenir accessibles, persistants, diffusables et consultables sur tous les terminaux sans téléchargement d’application. Au sein de BEE<b>VIRTUA</b> CPOS (Cloud eco-Publishing Operating System), elles sont au coeur d’un véritable écosystème éditorial physique et digital. Cette plateforme 360° constitue le chaînon central unique dans la transformation digitale des entreprises et dans la mise en place, à l'échelle mondiale, des politiques de gestion, d'exploitation et de diffusion de documents et de médias.">
                <img src="{{.Site.BaseURL}}/img/sponsors/2018/beebuzziness.png" alt="BeeBuzziness"/></a>
            </div>
            <div class="single">
              <a href="http://www.viseo.com/fr" target="_blank"
                  data-placement="top" data-html="true"
                  data-original-title="<b>VISEO Technologies</b> est un cabinet de conseil &amp; services, expert des nouvelles technologies.
                                      <br/>Filiale du Groupe VISEO, nous délivrons les dispositifs numériques au service de la volonté d’accélération digitale de nos clients. «Venez avec votre idée et repartez avec votre produit». C’est notre promesse.
                                      <br/>À Grenoble, nous sommes + de 110 ingénieurs spécialistes des processus de conception et de développement logiciel.
                                            Nous avons mis au point la Factory Agile, pour répondre aux enjeux auxquels sont confrontés les entreprises : une plateforme dédiée à la production de projets digitaux innovants en environnement web, mobile et objets connectés. Nos compétences s’articulent autour des domaines technologiques, méthodologiques et pédagogiques.
                                            Acteur précurseur et promoteur de l’innovation, notre métier est l’optimisation de chaque étape du processus de développement logiciel en transférant vers nos clients des technologies, des méthodes et des concepts innovants.
                                            VISEO développe son expertise dans la modélisation, la conception et le déploiement des architectures (Iot, Java, .NET, Web, Mobile…). Les méthodes agiles, parfaitement maîtrisées, fournissent un cadre méthodologique et organisationnel clair et éprouvé.
                                            Si comme nous, vous souhaitez intégrer une culture d’entreprise axée sur la proximité, l’échange, le partage de connaissances et la formation et vous aimez travaillez dans une ambiance conviviale sur des projets innovants et stimulants, n’attendez plus : rejoignez-nous ! http://www.viseo.com/fr/communique-de-presse/viseo-grenoble-ouvre-ses-meetups-technologiques-la-communaute">
                <img src="{{.Site.BaseURL}}/img/sponsors/2018/viseo.png" alt="Viseo"/></a>
            </div>
            <div class="single">
              <a href="https://www.redhat.com/fr" target="_blank">
                <img src="{{.Site.BaseURL}}/img/sponsors/2018/redhat.png" alt="Red Hat"/></a>
            </div>
          </div>
          <div class="row">
            <div class="single">
              <a href="https://www.tuleap.org/" target="_blank">
                <img src="{{.Site.BaseURL}}/img/sponsors/2018/tuleap.png" alt="Tuleap"/></a>
            </div>
            <div class="single">
              <a href="https://www.salesforce.com/fr/" target="_blank">
                <img src="{{.Site.BaseURL}}/img/sponsors/2018/salesforce.png" alt="Salesforce"/></a>
            </div>
            <div class="single">
              <a href="https://www.zenika.com/" target="_blank">
                <img src="{{.Site.BaseURL}}/img/sponsors/2018/zenika.png" alt="Zenika"/></a>
            </div>
            <div class="single">
              <a class="" href="https://www.algoo.fr/" target="_blank"
                  data-placement="top" data-toggle="tooltip" data-html="true"
                  data-original-title="<strong>Algoo</strong>, c'est 6 geeks qui vous accompagneront avec plaisir sur les sujets : dév web, archi logicielle, logiciels libres, hébergement web, intégration continue... technos : Python, ReactJS, Ansible, Docker, Linux, PostgreSQL, MongoDB, ElasticSearch..." alt="Algoo">
                <img src="{{.Site.BaseURL}}/img/sponsors/2018/algoo.png" alt="Algoo"/></a>
            </div>
          </div>
        </div>
      </div> -->

        <div class="sponsors-btn-area">
          <a class="snc-btn snc-btn-big" href="{{.Site.BaseURL}}{{ .Lang }}/sponsors"><span>Devenir sponsor</span></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div id="venue" class="snc-venue">
    <div class="snc-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="snc-heading-area">
              <h2 class="snc-heading">
                <span class="back-heading">
                    <i class="fa fa-map-o" aria-hidden="true"></i>
                </span>
                <span class="heading">Venir</span>
              </h2>
              <p class="text">
                SnowCamp se déroulera au Centre de Conférences "La Maison Minatec" à la fois pour les Universités et les
                Conférences.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 polaroid-images">
            <div class="single">
              <a href="https://www.minatec.org/fr/vie-de-campus/maison-minatec-centre-de-congres/" target="_blank"
                 class="rot-4" title="La Maison Minatec">
                <img src="{{.Site.BaseURL}}/img/la-maison-minatec.png" alt="La Maison Minatec" width="40%">
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="single">
              <p>Les Universités et les Conférences auront toutes lieux à la
                <a href="https://www.minatec.org/fr/vie-de-campus/maison-minatec-centre-de-congres/"
                   target="_blank"><strong>"Maison Minatec"</strong></a>,
                un Centre de Conférences au cœur de Grenoble.</p>
              <br/>
              <p><strong>3 Parvis Louis Néel<br/>38000 Grenoble</strong></p>
              <br/>
              <p>Vous pouvez y accéder :</p>
              <ul>
                <li>par la ligne B du Tram (direction Grenoble Presqu'île), arrêt "Cité Internationale"</li>
                <li>en voiture (vous pouvez vous garer aux parkings Doyen Weil ou d'Europole Gare)
                  <ul>
                    <li>en arrivant de Lyon ou de Valence, prenez la Sortie 16 off de la N481 ; puis le pont d'Oxford et
                      suivez les panneaux indicateurs MINATEC via "Rue des Martyrs"
                    </li>
                    <li>en arrivant de Chambéry, Gap ou Sisteron, prenez la Sortie 2 de l'A480 ; et suivez les panneaux
                      indicateurs MINATEC via "Rue Félix Esclangon"
                    </li>
                  </ul>
                </li>
                <li>en <a href="http://www.metromobilite.fr/velo.html" target="_blank">vélo</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="single">
              <p><strong>Latitude :</strong> 45.195807222</p>
              <p><strong>Longitude :</strong> 5.7096947222</p>
            </div>
            <div class="single">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2811.5868099502018!2d5.706387124129039!3d45.1954597678373!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x635d7041ccdf995b!2sMINATEC!5e0!3m2!1sfr!2sfr!4v1506778131344"
                width="500" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="single polaroid-images">
              <a href="#" target="_blank" class="rot-4" title="Maison Minatec - Salle de Keynote">
                <img src="{{.Site.BaseURL}}/img/minatec-amphi.png" alt="Maison Minatec" width="40%">
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 polaroid-images">
            <div class="single">
              <a href="https://www.minatec.org/fr/plan-dacces/#front-image" target="_blank" class="rot4"
                 title="Maison Minatec - Plan d'accès">
                <img src="{{.Site.BaseURL}}/img/minatec-access-en.gif" alt="La Maison Minatec" width="30%">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
