<section>
  <div class="snc-banner">
    <div class="snc-banner-style">
      <div class="snc-inner">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="banner-info">
                <div class="snc-countdown-area">
                  <div id="snc-countdown" data-date="2018/1/24">
                    <span class="snc-days">100 <i> Jours </i></span>
                    <span class="snc-hr">14 <i> Heures </i></span>
                    <span class="snc-min">15 <i> Minutes </i></span>
                    <span class="snc-sec">29<i> Secondes </i></span>
                  </div>
                </div>
                <h2 class="title">Snowcamp <span>2018</span></h2>
                <h3 class="date"><span>24-27 Janvier </span>2018, Grenoble</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div id="snc-snowcamp" class="snc-snowcamp">
    <div class="snc-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="snc-heading-area">
              <h2 class="snc-heading">
                <span class="back-heading">
                    <i class="fa fa-snowflake-o" aria-hidden="true"></i>
                </span>
                <span class="heading">Snowcamp</span>
              </h2>

              <p class="text">
                Une conférence unique pour les devs, les ops et les archis
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="single">
              <img src="{{.Site.BaseURL}}/img/icon-univ.png" alt="universities" width="30%">
              <h3 class="title">Universités</h3>
              <p class="info">Une journée de formation en profondeur<br/>(2 formations de 3 heures au choix).</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="single">
              <img src="{{.Site.BaseURL}}/img/icon-conf.png" alt="conference" width="30%">
              <h3 class="title">Conférences</h3>
              <p class="info">2 jours de conférences avec des présentations de 45 minutes.</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="single">
              <img src="{{.Site.BaseURL}}/img/icon-unconference.png" alt="unconference" width="30%">
              <h3 class="title">Unconference</h3>
              <p class="info">Une journée d'échange sur les pistes mêlant orateurs et participants.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div id="snc-innovation" class="snc-innovation">
    <div class="snc-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="snc-heading-area">
              <h2 class="snc-heading">
                <span class="back-heading">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                </span>
                <span class="heading">Innovation &amp; Recherche</span>
              </h2>

              <p class="text">
                Une conférence à haut niveau technique réunissant des ingénieurs et des académiques
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="single">
              <img src="{{.Site.BaseURL}}/img/icon-dev.png" alt="dev" width="30%">
              <h3 class="title">Innovation</h3>
              <p class="info">Découvrez les outils, frameworks et technologies d'aujourd'hui et de demain.</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="single">
              <img src="{{.Site.BaseURL}}/img/icon-cloud.png" alt="conference" width="30%">
              <h3 class="title">Échange</h3>
              <p class="info">Rencontrez et échangez avec d'autres devs, ops, archis et orateurs.</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="single">
              <img src="{{.Site.BaseURL}}/img/icon-academic.png" alt="unconference" width="30%">
              <h3 class="title">Recherche</h3>
              <p class="info">Découvrez les travaux des chercheurs sur les tendances et sujets du moment.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div id="cfp" class="snc-programme">
    <div class="snc-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="snc-heading-area">
              <h2 class="snc-heading">
                <span class="back-heading">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
                <span class="heading">CFP &amp; Programme</span>
              </h2>

              <div class="ui steps">
                <div class="active step">
                  <i class="inbox icon"></i>
                  <div class="content">
                    <div class="title"><a href="https://snowcamp.cfp.io" target="_blank">Le CFP</a></div>
                    <div class="description">est ouvert !</div>
                  </div>
                </div>
                <div class="active step">
                  <i class="spinner icon"></i>

                  <div class="content">
                    <div class="title"><a href="https://snowcamp.cfp.io" target="_blank">Fermeture du CFP</a></div>
                    <div class="description">1er Novembre 2017</div>
                  </div>
                </div>
                <div class="active step">
                  <i class="mail icon"></i>
                  <div class="content">
                    <div class="title">Notifications</div>
                    <div class="description">Fin Novembre 2017</div>
                  </div>
                </div>
                <div class="active step">
                  <i class="checked calendar icon"></i>
                  <div class="content">
                    <div class="title">Snowcamp</div>
                    <div class="description">24-27 Janvier 2018</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="single">
              <img src="{{.Site.BaseURL}}/img/themas.png" alt="themas">
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="single">
              <br>
              <br>
              <p><em>Le programme n'est pas encore complètement finalisé et peut être
              sujet à changement...</em></p>
              <!--<p>Vous pouvez soumettre vos sujets <a href="https://snowcamp.cfp.io" target="_blank"><strong>ici !</strong></a></p>-->
              <!--<br/>-->
              <!--<p>Quelques conseils :</p>-->
              <!--<ul>-->
                <!--<li>Choisissez bien votre titre</li>-->
                <!--<li>Expliquez ce que les participants vont voir et apprendre</li>-->
                <!--<li>Faites des démos</li>-->
                <!--<li>Soumettez tôt !</li>-->
              <!--</ul>-->
              <!--<br/>-->
              <!--<p>Les sessions peuvent être proposées en français ou en anglais. Les présentations sont sélectionnées-->
                <!--par un comité neutre et ouvert. Alors lancez-vous !-->
              <!--</p>-->
            </div>
          </div>
        </div>
        <div id="programme" class="row">
          <br>
          <a id="sched-embed" href="http://snowcamp2018.sched.com/" data-sched-sidebar="no">View the SnowCamp 2018 schedule &amp; directory.</a><script type="text/javascript" src="http://snowcamp2018.sched.com/js/embed.js"></script>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div id="sponsors" class="snc-sponsors">
    <div class="snc-inner-bg">
      <div class="snc-inner">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 text-center">
              <div class="snc-heading-area">
                <h2 class="snc-heading">
                  <span class="back-heading"><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                  <span class="heading">Sponsors</span>
                </h2>
                <p class="text">
                  Un grand merci à nos sponsors
                </p>
              </div>
            </div>
          </div>
          <!--<div class="row">-->
            <!--<div class="col-xs-12">-->
              <!--<h3 class="sponsored-heading first-heading">Sponsors Chamois</h3>-->
              <!--&lt;!&ndash;<div class="sponsors-area">&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="single">&ndash;&gt;-->
              <!--&lt;!&ndash;<a href="#"><img src="{{.Site.BaseURL}}/img/sponsors/beebuzziness.png" alt=""/></a>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
          <!--</div>-->

          <div class="row">
            <div class="col-xs-12">
              <h3 class="sponsored-heading">Sponsors Étoile</h3>
            </div>
          </div>
          <div class="sponsors-area">
            <div class="row">
              <div class="single">
                <a href="https://www.forgerock.fr/" target="_blank"
                   data-placement="top" data-toggle="tooltip" data-html="true"
                   data-original-title="<strong>ForgeRock Identity Platform</strong> change la façon dont des millions de clients et de citoyens interagissent en ligne avec les entreprises et les administrations, en offrant une meilleure sécurité, en créant des relations et en permettant d’offrir de nouveaux services basés sur le cloud, le mobile et l’internet des objets, accessibles depuis n’importe quel terminal ou objet connecté. ForgeRock équipe des centaines de marques comme Morningstar, Vodafone, GEICO, TomTom, et Pearson, ainsi que des gouvernements comme ceux de la Norvège, du Canada et de la Belgique, entre autres. Basée à San Francisco, Californie, ForgeRock dispose de bureaux à Londres, Paris, Grenoble, Düsseldorf, Bristol, Oslo, Sydney et Vancouver (WA).">
                  <img src="{{.Site.BaseURL}}/img/sponsors/forgerock.png" alt="ForgeRock"/></a>
              </div>
              <div class="single">
                <a href="https://kaizen-solutions.net/" target="_blank"
                   data-placement="top" data-toggle="tooltip" data-html="true"
                   data-original-title="<strong>KAIZEN Solutions</strong> est une jeune entreprise de Services du Numérique à taille humaine.<br>
        Nous accompagnons de grands groupes industriels et des start-up du bassin grenoblois en apportant des solutions logicielles haut de gamme, sur toutes les couches du capteur jusqu'au cloud.<br>
        Nous souhaitons construire Kaizen grâce à des ingénieurs désireux d'apprendre et toujours prêts pour de nouveaux challenges !<br>
        Notre nom nous définit :
          <br/>- La mobilisation de tous dans une ambiance dynamique et constructive pour développer la créativité et l'excellence
          <br/>- La bonne humeur est le moteur de notre performance">
                  <img src="{{.Site.BaseURL}}/img/sponsors/kaizen.png" alt="Kaizen Solutions"/></a>
              </div>
              <div class="single">
                <a href="http://lunatech.com/fr/" target="_blank">
                  <img src="{{.Site.BaseURL}}/img/sponsors/lunatech-logo.png" alt="Lunatech"/></a>
              </div>
              <div class="single">
                <a href="http://www.norsys.fr/" target="_blank">
                  <img src="{{.Site.BaseURL}}/img/sponsors/norsys.png" alt="Norsys"/></a>
              </div>
              <div class="single">
                <a href="https://www.soprasteria.com/fr/home" target="_blank">
                  <img src="{{.Site.BaseURL}}/img/sponsors/sopra-steria.png" alt="Sopra Steria"/></a>
              </div>
              <div class="single">
                <a href="http://beebuzziness.com/" target="_blank"
                data-placement="top" data-toggle="tooltip" data-html="true"
                data-original-title="BEE<b>BUZZINESS</b> est une entreprise citoyenne qui développe depuis 2001 des solutions innovantes et écoresponsables de gestion, de diffusion et d’impression de documents. Sa technologie de rupture redéfinit tous les paradigmes de la gestion documentaire et de médias en permettant aux publications et à leurs contenus de devenir accessibles, persistants, diffusables et consultables sur tous les terminaux sans téléchargement d’application. Au sein de BEE<b>VIRTUA</b> CPOS (Cloud eco-Publishing Operating System), elles sont au coeur d’un véritable écosystème éditorial physique et digital. Cette plateforme 360° constitue le chaînon central unique dans la transformation digitale des entreprises et dans la mise en place, à l'échelle mondiale, des politiques de gestion, d'exploitation et de diffusion de documents et de médias.">
                  <img src="{{.Site.BaseURL}}/img/sponsors/beebuzziness.png" alt="BeeBuzziness"/></a>
              </div>
              <div class="single">
                <a class="" href="http://www.viseo.com/fr" target="_blank">
                  <img src="{{.Site.BaseURL}}/img/sponsors/viseo.png" alt="Viseo"/></a>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <h3 class="sponsored-heading">Sponsors Flocon</h3>
            </div>
          </div>
          <div class="sponsors-area">
            <div class="row">
              <div class="single">
                <a href="https://www.tuleap.org/" target="_blank">
                  <img src="{{.Site.BaseURL}}/img/sponsors/tuleap.png" alt="Tuleap"/></a>
              </div>
              <div class="single">
                <a href="https://www.salesforce.com/fr/" target="_blank">
                  <img src="{{.Site.BaseURL}}/img/sponsors/salesforce.png" alt="Salesforce"/></a>
              </div>
              <div class="single">
                <a href="https://www.zenika.com/" target="_blank">
                  <img src="{{.Site.BaseURL}}/img/sponsors/zenika.png" alt="Zenika"/></a>
              </div>
            </div>
          </div>
        </div>

        <div class="sponsors-btn-area">
          <a class="snc-btn snc-btn-big" href="{{.Site.BaseURL}}{{ .Lang }}/sponsors"><span>Devenir sponsor</span></a>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<section>
  <div id="venue" class="snc-venue">
    <div class="snc-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="snc-heading-area">
              <h2 class="snc-heading">
                <span class="back-heading">
                    <i class="fa fa-map-o" aria-hidden="true"></i>
                </span>
                <span class="heading">Venir</span>
              </h2>
              <p class="text">
                Cette année, SnowCamp déménage au Centre de Conférences "La Maison Minatec" à la fois pour les Universités et les Conférences.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 polaroid-images">
            <div class="single">
              <a href="https://www.minatec.org/fr/vie-de-campus/maison-minatec-centre-de-congres/" target="_blank" class="rot-4" title="La Maison Minatec">
                <img src="{{.Site.BaseURL}}/img/la-maison-minatec.png" alt="La Maison Minatec" width="40%">
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="single">
              <p>Cette année, les Universités et les Conférences auront toutes lieux à la
                <a href="https://www.minatec.org/fr/vie-de-campus/maison-minatec-centre-de-congres/" target="_blank"><strong>"Maison Minatec"</strong></a>,
                 un Centre de Conférences au cœur de Grenoble.</p>
              <br/>
              <p><strong>3 Parvis Louis Néel<br/>38000 Grenoble</strong></p>
              <br/>
              <p>Vous pouvez y accéder :</p>
              <ul>
                <li>par la ligne B du Tram (direction Grenoble Presqu'île), arrêt "Cité Internationale"</li>
                <li>en voiture (vous pouvez vous garer aux parkings Doyen Weil ou d'Europole Gare)
                  <ul>
                    <li>en arrivant de Lyon ou de Valence, prenez la Sortie 16 off de la N481 ; puis le pont d'Oxford et suivez les panneaux indicateurs MINATEC via "Rue des Martyrs"</li>
                    <li>en arrivant de Chambéry, Gap ou Sisteron, prenez la Sortie 2 de l'A480 ; et suivez les panneaux indicateurs MINATEC via "Rue Félix Esclangon"</li>
                  </ul>
                </li>
                <li>en <a href="http://www.metromobilite.fr/velo.html" target="_blank">vélo</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="single">
              <p><strong>Latitude :</strong> 45.195807222</p>
              <p><strong>Longitude :</strong> 5.7096947222</p>
            </div>
            <div class="single">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2811.5868099502018!2d5.706387124129039!3d45.1954597678373!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x635d7041ccdf995b!2sMINATEC!5e0!3m2!1sfr!2sfr!4v1506778131344" width="500" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="single polaroid-images">
              <a href="#" target="_blank" class="rot-4" title="Maison Minatec - Salle de Keynote">
                <img src="{{.Site.BaseURL}}/img/minatec-amphi.png" alt="Maison Minatec" width="40%">
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 polaroid-images">
            <div class="single">
              <a href="https://www.minatec.org/fr/plan-dacces/#front-image" target="_blank" class="rot4" title="Maison Minatec - Plan d'accès">
                <img src="{{.Site.BaseURL}}/img/minatec-access-en.gif" alt="La Maison Minatec" width="30%">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
