{{ $type := .type }}
{{ $class := .class }}
{{ $lang := .lang }}
{{ $sponsorship := .sponsorship }}
{{ $sponsor := $type }}
{{ $prospectus := $sponsorship.prospectus }}

<div class="single {{ $class }}">
  <div class="single-top">
    <h2 class="title">{{ $sponsor.title }}</h2>
    <h4 class="price">{{ $sponsor.price }}</h4>
    {{ with $sponsor }}
    <p>{{ i18n "sponsor_limit" .number }}</p>
    {{ end }}
  </div>
  <div class="single-bottom">
    <ul class="list-unstyled list">
      {{ if isset $sponsor "places" }}
      {{ $places := $sponsor.places }}
        {{ if isset $places "conferences" }}
        <li><i class="fa fa-check" aria-hidden="true"></i> {{ i18n "sponsor_places_conferences" (dict "number" $places.conferences) }}</li>
        {{ end }}
        {{ if isset $places "booth" }}
        <li><i class="fa fa-check" aria-hidden="true"></i> {{ i18n "sponsor_places_booth" (dict "number" $places.booth) }}</li>
        {{ end }}
      {{ end }}
      {{ if isset $sponsor "booth_area" }}
      <li><i class="fa fa-check" aria-hidden="true"></i> {{ i18n "sponsor_booth_area" (dict "area" $sponsor.booth_area) }}</li>
      {{ end }}
      {{ if $sponsor.logo_premium }}
      <li><i class="fa fa-check" aria-hidden="true"></i> {{ i18n "sponsor_logo_pass" }}</li>
      {{ end }}
      <li><i class="fa fa-check" aria-hidden="true"></i> {{ i18n "sponsor_logo_website" }}</li>
      <li><i class="fa fa-check" aria-hidden="true"></i> {{ i18n "sponsor_logo_billposting" }}</li>
      {{ if $sponsor.logo_premium }}
      <li><i class="fa fa-check" aria-hidden="true"></i> {{ i18n "sponsor_logo_pass_strap" }}</li>
      {{ end }}
      {{ if (and (isset $sponsor "places") (isset $sponsor.places "speakers_dinner")) }}
      <li><i class="fa fa-check" aria-hidden="true"></i> {{ i18n "sponsor_places_speakers_dinner" (dict "number" $sponsor.places.speakers_dinner) | safeHTML }}</li>
      {{ end }}
      {{ if isset $sponsor "keynote_talk" }}
      <li><i class="fa fa-check" aria-hidden="true"></i> {{ i18n "sponsor_keynote_talk" (dict "duration" $sponsor.keynote_talk) }}</li>
      {{ end }}
      <li><i class="fa fa-check" aria-hidden="true"></i> {{ i18n "snowcamp_logo_usage" }}</li>
    </ul>
    <div class="sponsors-form">
      <a href="{{ $prospectus | safeHTMLAttr }}" target="_blank">{{ i18n "sponsorship_prospectus" }}</a>
    </div>
    <a class="snc-btn" href="mailto:team@snowcamp.io"><span>{{ i18n "contact_us" }}</span></a>
  </div>
</div>
