{{ $lang := .lang }}
{{ $column_number := .column_number }}
<div class="row">
  <div class="col-xs-12">
    <h3 class="sponsored-heading ">{{ .sponsor_title }}</h3>
  </div>
</div>
<div class="sponsors-area">
  {{ range $i, $sponsor := .sponsors }}
    {{ if modBool $i $column_number }}
    <div class="row">
    {{end}}
        <div class="single">
          {{ $sponsor_url := (cond (isset $sponsor.url $lang ) (index $sponsor.url $lang) "") }}
          {{ $sponsor_desc := (cond (isset $sponsor.description $lang ) (index $sponsor.description $lang) "") }}
          <a href="{{ $sponsor_url }}" target="_blank"
              data-placement="top" data-toggle="tooltip" data-html="true"
              data-original-title="{{ $sponsor_desc }}">
            <img src="{{ .baseUrl }}/{{ $sponsor.logo }}" alt="{{ $sponsor.name }}"/></a>
        </div>
    {{ if modBool (add $i 1) $column_number }}
    </div>
    {{end}}
  {{ end }}
</div>
