{{ $store_lang := (index .store.lang .context.Lang) }}
{{ if (eq $store_lang.early_birds_status "open") }}
   <p class="text dark-background emph">{{ $store_lang.store_early_birds_open }}</p>
{{ else if (eq $store_lang.classic_status "open") }}
   <p class="text dark-background emph">{{ $store_lang.store_open_status }}</p>
{{ else if (and ((eq $store_lang.classic_status "closed") (eq .classic_status "closed"))) }}
   <p class="text dark-background emph">{{ $store_lang.store_closed_status }}</p>
{{ else }}
   <p class="text dark-background emph">
       {{ if isset $store_lang "store_open_dates" }}
       <a href="{{ .store.url }}" target="_blank">{{ $store_lang.store_not_open_status }}</a>
       <br>{{ $store_lang.store_open_dates }}
       {{ else }}
       {{ $store_lang.store_not_open_status }}
       {{ end }}
   </p>
{{ end }}