{{ $lang := $.Site.Language.Lang }}
{{ $store := $.Site.Data.ticket.store }}
{{ $early_birds := $.Site.Data.ticket.store.early }}
{{ $early_birds_status := $early_birds.status }}
{{ $classic := $.Site.Data.ticket.store.classic }}
{{ $classic_status := $classic.status }}

<p class="text dark-background emph">
{{ if (and (eq $early_birds_status "closed") (eq $classic_status "closed")) }}
  {{ i18n "store_is_soldout" }}
{{ else if (or (eq $early_birds_status "open") (eq $classic_status "open")) }}
  {{ i18n "store_is_open" }}
{{ else if (and (eq $early_birds_status "closed") (eq $classic_status "not_open")) }}
  {{ i18n "store_classic_dates" (dict "date1" (index $classic.date1 $lang) "date2" (index $classic.date2 $lang)) }}
{{ else if ((and (eq $early_birds_status "not_open") (isset $early_birds.date $lang))) }}
  {{ i18n "store_early_birds_open" (dict "date" (index $early_birds.date $lang)) }}
{{ else }}
  {{ i18n "store_not_open" }}
{{ end }}
</p>
{{ if isset $store "url"}}
<p>
  <a href="{{ $store.url }}" target="_blank">
    <i class="fa fa-hand-o-right" aria-hidden="true"><span> <b>{{ i18n "store_here" }}</b></span></i>
  </a>
</p>
{{ end }}
